extends layout

block content
    h1= title
    p= text
    p Category: 
        strong=category
    ul Specifications: 
        each val in specifications
            li= val
    p= warranty
    p Price: € 
        strong= price
    p Quantity available: #{stock}
    p Manufacturer: #{manufacturer}