extends layout

block content
    h1= title
    p= text
    p Category: 
        strong
            a(href="/category/"+category._id) #{category.name}
    ul Specifications: 
        each val in specifications
            li= val
    p Warranty: #{warranty}
    p Price: € 
        strong= price
    p Quantity available: #{stock}
    p Manufacturer: 
        a(href="/manufacturer/"+manufacturer._id) #{manufacturer.name}