extends layout

block content
  h1= theManufacturer.name
  p Address: #{theManufacturer.address}
  p Joined Date: #{theManufacturer.joinedDate}
  p Products:
    ul
      each val in allProducts
        li
          a(href="/catalog/hardware/"+val._id) #{val.name}
  p Warranties: 
    ul
      - if (typeof theManufacturer.theWarranties === 'object')
        each val in theManufacturer.theWarranties
          li= val
      - else
        p= theManufacturer.theWarranties
  div
    a(href="/manufacturer/update/"+theManufacturer._id class="btn") Update
    a(href="/manufacturer/delete/"+theManufacturer._id class="btn") Delete