extends ../layout

block content
    h1= title
    h2= text
    div
        - if (typeof item2 === 'object')
            each value, key in item2
                - if (key !== "_id")
                    p
                        | #{key}: #{value}
        - else
            p= item2
    p Are you sure you want to delete
    div
        a(href= url class="btn") No
        form(method='POST' action='')
            input#itemid.form-control(type='hidden',name='delete', required='true', value=item._id )
            button.btn.btn-primary(type='submit') Yes