extends ../layout

block content
    h1= title
    h2= text
    p= item.name
    p= item.description
    p Are you sure you want to delete
    div
        a(href="/category" class="btn") No
        form(method='POST' action='')
            input#itemid.form-control(type='hidden',name='delete', required='true', value=item._id )
            button.btn.btn-primary(type='submit') Yes